<ion-header>

  <ion-toolbar color="preto">
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
    <ion-title slot="">Novo Contato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="preto">


  <ion-card color="dark">
    <ion-card-content>

      <ion-item color="dark">
        <ion-label position="floating">Nome</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="floating">Sobrenome</ion-label>
        <ion-input type="text" clearInput ></ion-input>
      </ion-item>

      <ion-item color="dark">
        <ion-label position="floating">E-mail</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>


      <ion-item color="dark">
        <ion-label position="floating">Celular</ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>

      <ion-card-content white-space="pre-line" >
        <ion-label position="floating">Anotações</ion-label>
        <ion-input type="text" ></ion-input >

      </ion-card-content>

    </ion-card-content>
  </ion-card>


  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Informações do Endereço</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Endereço</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Numero</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Bairro</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Complemento</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">CEP</ion-label>
        <ion-input type="number"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Estado</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Cidade</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

    </ion-card-content>
  </ion-card>
  <ion-card>



  </ion-card>

-->


</ion-content >

<ion-footer>
  <ion-toolbar color="preto">
     <ion-button size="full" color="success">Adicionar Contato</ion-button>
  </ion-toolbar>
</ion-footer>
