ion-header{
  ion-toolbar{
    padding: 10px;
    }
    ion-title{


    }
  }

ion-card{
  padding: 0px;
  margin: 15px;
  border: 0px;
  size: 20;
}

ion-footer{
  ion-toolbar{
    padding: 10px 20px;
  }
}






